common:prof-libunwind --@jemalloc//settings/flags:enable_xmalloc
common:prof-libunwind --@jemalloc//settings/flags:enable_prof
common:prof-libunwind --@jemalloc//settings/flags:enable_prof_libunwind

common:prof-libgcc --@jemalloc//settings/flags:enable_xmalloc
common:prof-libgcc --@jemalloc//settings/flags:enable_prof
common:prof-libgcc --@jemalloc//settings/flags:enable_prof_libgcc

common:prof-gcc --@jemalloc//settings/flags:enable_xmalloc
common:prof-gcc --@jemalloc//settings/flags:enable_prof
common:prof-gcc --@jemalloc//settings/flags:enable_prof_gcc
