# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true

# 4 space indentation for JSON files
[*.json]
indent_style = space
indent_size = 4

# 4 space indentation for YAML files
[*.yaml]
indent_style = space
indent_size = 2
