name: Dismiss Stale PR Approvals
on:
  pull_request_target:
    types: [synchronize]
    branches:
      - main
    paths:
      - 'modules/**'

jobs:
  dismiss_approvals:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          egress-policy: audit

      - name: Run BCR PR Reviewer
        uses: bazelbuild/continuous-integration/actions/bcr-pr-reviewer@a4d362a00e617f2f99250cf03f5476c52b85d65f # master
        with:
          # This token needs to be updated annually on Feb 05.
          token: ${{ secrets.BCR_PR_REVIEW_HELPER_TOKEN }}
          action-type: dismiss_approvals
