name: Notify Module Maintainers For PR Review
on:
  pull_request_target:
    branches:
      - main
    paths:
      - 'modules/**'

jobs:
  notify_maintainers:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
        with:
          egress-policy: audit

      - name: Run BCR PR Reviewer
        uses: bazelbuild/continuous-integration/actions/bcr-pr-reviewer@353ef6603c1fb08dada74c517a07be2d6c2c08ac # master
        with:
          # This token needs to be updated annually on Feb 05.
          token: ${{ secrets.BCR_PR_REVIEW_HELPER_TOKEN }}
          action-type: notify_maintainers
