name: Review BCR Pull Requests
on:
  schedule:
    - cron: "*/10 * * * *" # Run this action every 10 mins
  workflow_dispatch:       # So that this can be triggered manually

jobs:
  review_prs:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'bazelbuild'
        uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
        with:
          egress-policy: audit

      - name: Run BCR PR Reviewer
        if: github.repository_owner == 'bazelbuild'
        uses: bazelbuild/continuous-integration/actions/bcr-pr-reviewer@0c159455cb33ed35cabe04de77dd6ed8d0b70c7d # master
        with:
          # This token needs to be updated annually on Feb 05.
          token: ${{ secrets.BCR_PR_REVIEW_HELPER_TOKEN }}
          action-type: review_prs
