name: Review BCR Pull Requests
on:
  schedule:
    - cron: "*/10 * * * *" # Run this action every 10 mins
  workflow_dispatch:       # So that this can be triggered manually

jobs:
  review_prs:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        if: github.repository_owner == 'bazelbuild'
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Run BCR PR Reviewer
        if: github.repository_owner == 'bazelbuild'
        uses: bazelbuild/continuous-integration/actions/bcr-pr-reviewer@88343b58ed92860f43faeabd6c41e16b0aac57b6 # master
        with:
          # This token needs to be updated annually on Feb 05.
          token: ${{ secrets.BCR_PR_REVIEW_HELPER_TOKEN }}
          action-type: review_prs
